<div class="cardContainer">
    <div *ngFor="let article of articles">
        <mat-card>
            <mat-card-header>
                
                    <mat-card-title>{{article.title}}</mat-card-title>
                    <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{article.urlToImage}}">
            <mat-card-content>
                <p>{{article.description}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>