.cardContainer {
    display: flex;
    flex-direction: column;
}

.cardContainer p {
    text-align: left;
}

mat-card {
    max-width: 60%;
    margin: 1rem 20% 0 20%;
    padding: 3rem;
    cursor: pointer;
}
mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
    margin: 0;
  }

@media only screen and (max-width: 600px) {
    mat-card {
        max-width: 90%;
        margin: 1rem 5% 0 5%;
        padding: 0.5rem;
    }
  }