<div class="landing-page-container" *ngIf="isDataLoaded">
    <mat-card>
        <mat-card-title>Welcome to News Site!</mat-card-title>
        <mat-card-subtitle>Here you can search latest news from all over the world. To get started you can search for news by:</mat-card-subtitle>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="news-search-form">
            <mat-form-field >
              <mat-label>News source name</mat-label>
              <mat-select (selectionChange)="handleSourceNamePick($event.value)">
                <mat-option *ngFor="let source of sources"  [value]="source.id" name="sourceName">
                  {{source.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Language</mat-label>
              <mat-select (selectionChange)="handleLanguagePick($event.value)">
                <mat-option *ngFor="let language of languages | keyvalue" [value]="language.key" name="language" >
                  {{language.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Keyword</mat-label>
                <input matInput (keyup)="onKeywordInput($event)" placeholder="Coronavirus" name="keyword">
              </mat-form-field>
            <button mat-button type="submit">Search</button>
          </form>
    </mat-card>
</div>