<div class="landing-page-container">
    <mat-card>
        <mat-card-title>Welcome to News Site!</mat-card-title>
        <mat-card-subtitle>Here you can search latest news from all over the world. To get started you can search for news by:</mat-card-subtitle>
        <form class="news-search-form">
            <mat-form-field >
              <mat-label>News source name</mat-label>
              <input matInput placeholder="NY Times" value="">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Language</mat-label>
              <textarea matInput placeholder="English"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Keyword</mat-label>
                <textarea matInput placeholder="Coronavirus"></textarea>
              </mat-form-field>
          </form>
    </mat-card>
</div>