.landing-page-container {
    display: flex;
    flex-direction: column;
}

mat-card {
    max-width: 40%;
    margin: 0 30% 1rem 30%;
    
}

mat-card-title {
    padding-bottom: 1.5rem;
}

.news-search-form {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    mat-card {
        max-width: 80%;
        margin: 0 10% 0 10%;
    }
    
    mat-card-title {
        padding-bottom: 1.5rem;
    }
  }