<div class="landing-page-container" *ngIf="displayErrorMessage">
  <mat-card>
    <mat-card-title>Sorry but this service is unavailable, please try again later!</mat-card-title>
  </mat-card>
</div>
<div class="landing-page-container">
    <mat-card *ngIf="isDataLoaded">
        <mat-card-title>Welcome to News Site!</mat-card-title>
        <mat-card-subtitle>Here you can search latest news from all over the world. To get started you can search for news by:</mat-card-subtitle>
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="news-search-form">
            <mat-form-field >
              <mat-label>News source name</mat-label>
              <mat-select (selectionChange)="handleSourceNamePick($event.value)">
                <mat-option *ngFor="let source of sources"  [value]="source.id" name="sourceName">
                  {{source.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Language</mat-label>
              <mat-select (selectionChange)="handleLanguagePick($event.value)">
                <mat-option *ngFor="let language of languages | keyvalue" [value]="language.key" name="language" >
                  {{language.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Keyword</mat-label>
                <input matInput (keyup)="onKeywordInput($event)" placeholder="Coronavirus" name="keyword">
              </mat-form-field>
            <button mat-button type="submit">Search</button>
          </form>
    </mat-card>
    <mat-card *ngIf="isDataLoaded">
      <mat-card-title>Your previous queries: </mat-card-title>
      <div *ngFor="let query of previousQueries; let i = index">
        <div>
          <mat-card-content>{{i + 1}}</mat-card-content>
            <p>Source name: {{query.sourceName}}</p>
            <p>Language: {{query.language}}</p>
            <p>Keyword: {{query.keyword}}</p>
            <button mat-raised-button (click)="submitPreviousQuery($event, query.sourceName, query.language, query.keyword)">Search</button>
          </div>
          <br>
        </div>
    </mat-card>
</div>